body, .img {
    margin: 0;
	height: 100vh;
	background-image: url(../images/pexels-clouds.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.main-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-size: 41px;
	border: solid;
	color: #FFB703;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
}
.screen {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4em;
}
.form {
	box-sizing: border-box;
	max-width: 600px;
	width: 100%;
	min-height: 600px;
    padding: 15px 20px;
    background-color: #219EBC;
	border-radius: 7px;
	box-shadow: 2px 2px 8px black;
	display: flex;
	flex-direction: column;
	align-items: stretch;
    justify-content: flex-end;
	letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}
select {
	box-sizing: border-box;
	width: 100%;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	background-color: #FFFFFF;
  }
input[type=text] {
	box-sizing: border-box;
	padding: 12px 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	border-radius: 5px;
  }
  .input-field {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	width: 100%;
  }
textarea[name=message] {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: black;
	width: 100%;
	padding: 10px 6px;
	border-radius: 5px;
  }
.select-wrapper {
	box-sizing: border-box;
	width: 100%;
	position: relative;
}
.label, .inheritance, .main-question {
	box-sizing: border-box;
	display: block;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	bottom: -2px;
	z-index: 1;
	width: 100%;
	background-color: #FB8500;
	margin-top: 10px;
	padding: 5px 10px;
	color: #FFFFFF;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.label--large {
	padding: 0;
	margin-bottom: 20px;
	border-radius: 5px;
 }
 .label__text {
	padding: 4px 7px;
 }
 .radio-wrapper {
	display: flex;
 }
 .radio {
	margin-top: 1em;
 }
 .radio-answer {
	margin-top: 1em;
	font-family: 'Source Sans Pro', sans-serif;
 }
 .input-field:hover, .textarea:hover, .select:hover, .country:hover, .radio-answer:hover, .checkbox-label:hover {
	background-color: #FFB703;
 }
 .checkbox-container {
	display: flex;
	align-items: center;
	position: relative;
}
.input-title {
	display: flex;
	position: absolute;
	width: 340px;
	line-height: 1;
	margin-left: 41px;
	margin-top: 1px;
	padding: 4px 0 2px 2px;
	border-radius: 8px;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
}
.checkbox-label {
	display: flex;
	position: relative;
	cursor: pointer;
	font-size: 20px;
	line-height: 24px;
	height: 20px;
	width: 20px;
} 
.button {
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	margin-top: 2em;
	border-radius: 5px;
	border: none;
	background-color: #023047;
	color: #FFFFFF;
	box-shadow: 1px 1px 4px #000000;
	font-weight: 600;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
}
.button:hover {
	background-color: #FFB703;
 }
 /*
.main-question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
	color: #023047; 
   	box-sizing: border-box;
	display: block;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}
*/
